{% extends "base.html" %}

{% load markup %} 

{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock %}
{% block content %}
	<article>
    	<section>
    		<h2>{{ flatpage.title }} </h2>
    		{{ flatpage.content|markdown:"safe" }}
    	</section>
    </article>
    <aside>
	    <h3>Get started!</h3>
	    <p><a class="btn dl" title="13MB, trips and stations as CSV and Shapefile." href="http://files.hubwaychallenge.org/stations_trips.zip"> Download the Data </a><span class="help-text">10MB zipped CSV files and Shapefile, or <a href="">register</a> for using our <a class="highgreen" href="/api/v1/?format=json" title="Data API">Data API</a>.</span></p>
	    <h3>Join us for a hack day!</h3>
	    <p>Want to get out of the house and work with some friends? Come to the hack day at The Bocoup Loft in Downtown Boston on <span class="highgreen">Saturday, October 27</span>.</p>
	</aside>
{% endblock %}
