{% extends "base.html" %}

{% block fb_code %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '265086433612349', // App ID
      channelUrl : '//www.hubwaydatachallenge.org/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.Event.subscribe('edge.create', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
    });
    FB.Event.subscribe('edge.remove', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
    });
    FB.Event.subscribe('message.send', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'send', targetUrl]);
    });
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
{% endblock %}

{% block content %}

<article>
    <header>
        <ul>
            <li>Do Hubway cyclists only ride down hill?</li>
            <li>Are all Hubway rentals after 2am by people under 25?</li>
            <li>How do weekday and weekend patterns differ?</li>
            <li>And what makes for a good Hubway location?</li>
        </ul>
        <p>To celebrate the release of comprehensive user data, Hubway and MAPC are inviting you to <span class="highgreen">visualize half a million Hubway rides.</span></p>
    </header>
    {% if awards %}
    <section>
      <h2>Challenge Winners</h2>
      <ul class="award leaderboard">
        {% for award in awards %}
        <li style="background-image:url('{{ award.entry.thumbnail_url }}');"><div class="text"><a href="{{ award.entry.get_absolute_url }}" title="{{ award.entry.description }}" class="category">{{ award.category }}:</a> <a href="{{ award.entry.get_absolute_url }}" title="{{ award.entry.description }}" class="highgreen">{{ award.entry.name }}</a></div></li>
        {% endfor %}
      </ul>
      <p><a href="{% url leaderboard %}" class="highgreen">View all {{ entries_nr }} visualizations!</a></p>
    </section>
    {% else %}
    {% if submission_open %}<section>
        <h2>How to Submit</h2>
        <p><a class="submission home" href="{% url add-entry %}">Submit your Data Viz!</a></p>
        <p>It is possible to submit more than one visualization per person or team.</p>
    </section>
    <section>
        <h2>Deadline <span class="alert">- Extended!</span></h2>
        <p class="highgreen">11:59 p.m. EDT on Sunday, November 4, 2012</p>
        <p>Winners will be announced on Tuesday, November 13, 2012.</p>
    </section>{% else %}
    <section>
      <h2>Join us for the Awards Announcement!</h2>
      <p><span class="highgreen">Tuesday November 13<sup>th</sup> 2012, 5:30 - 6:30pm</span><br>at the Bocoup Loft, 355 Congress Street, Boston</p>
      <p>Afterwards we'll celebrate downstairs at Lucky's with appetizers and a cash bar.</p>
      <p><a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07e6kyf8xq968bc30d" title="RSVP here" class="highgreen">RSVP now!</a></p>
      <p>...or watch the livestream on <a href="https://plus.google.com/events/c3rbaj9ufdtmm9g13mn1kkkckt8" class="highgreen">Google+</a></p>
    </section>
    <section>
        <h2>Top-rated visualizations</h2>
        <ul class="leaderboard">
            {% for entry in entries %}
            {% if forloop.counter0 < 3 %}<li data-rating="{{ entry.userrating.get_rating }}" style="background-image:url('{{ entry.thumbnail_url }}')"><div class="text">By <a href="{% url leaderboard %}" title="{{ entry.description }}" class="highgreen">{{ entry.name }}</a><br> <span class="stars"></span></div></li>{% endif %}
            {% endfor %}
        </ul>
        <p><a href="{% url leaderboard %}" class="highgreen">View all {{ entries|length }} visualizations!</a></p>
    </section>{% endif %}
    {% endif %}

    {% if lastentry %}<section>
        <h2>Last Submitted Visualization</h2>
        <p><a href="{{ lastentry.get_absolute_url }}" title="Hubway Data Visualization by {{ lastentry.name }}"><img class="screenshot tn" src="{{ lastentry.thumbnail_url }}" alt="Hubway Data Visualization by {{ lastentry.name }}"></a></p>
        <p>By <a class="highgreen" href="{{ lastentry.get_absolute_url }}">{{ lastentry.name }}</a></p>
        <p><span id="userrating" class="rating"></span><br>{% if user.is_authenticated %}<span class="help-text userrating-msg">Click stars to rate this visualization.</span>{% else %}<a href="/register/" class="help-text">Register to rate!</a>{% endif %}</p></p>
        {% if lastentry.description %}<p>{{ lastentry.description|truncatewords_html:20 }}</p>{% endif %}
    </section>{% endif %}

    <section>
        <h2>The Judges</h2>
        <dl class="judges">
            <dt>Gabriel Florit, Boston Globe</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_florit.png">Gabriel Florit makes data visualizations for the Boston Globe. Previously, he wrote software to keep track of trains, fell 200 feet off a mountain, and got lost in Alaska for two years.</dd>
            <dt>Darcey Moore, Institute of Contemporary Art</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_moore.png">Darcey Moore, Registrar at the ICA and Contemporary Exhibitions, specializes in organizing aesthetic data, creating and re-creating feats of contemporary installation, and riding her bike to bakeries and ice cream shops.</dd>
            <dt>Irene Ros, Bocoup</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_ros.png">Irene Ros is an open source javascript developer with a focus on creating engaging, informative and interactive data-driven interfaces and visualizations. Her love for data and its visual forms started at The Visual Communication Lab @ IBM Research and now continues at Bocoup.</dd>
            <dt>Holly St. Clair, Metropolitan Area Planning Council</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_stclair.png">Holly St. Clair is the Director of Data Services at MAPC, where she works to organize, visualize, utilize and democratize data. She is a mother of two and founder of the “Fresh in the Village”, an art and locavore food project.</dd>
            <dt>Scott Mullen, Hubway</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_mullen.png">Scott Mullen is General Manager of Hubway. He previously ran Zipcar’s national university program, and was a member of the LivableStreets Alliance board of directors.</dd>
            <dt>Sarah Williams, Massachusetts Institute of Technology</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_williams.png">Sarah Williams, an Assistant Professor of Urban Planning and the Director of the Civic Data Design Project at MIT, employs data visualization and mapping techniques to expose and communicate urban patterns and policy issues to broader audiences. Her work is also part of the permanent collection in the Museum of Modern Art (MoMA), New York.</dd>
            <dt>You</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_public.png">You help us pick the winners!</dd>
        </dl>
    </section>
</article>

<aside>
    <h3>What are the data?</h3>
    <p><a class="btn dl" title="13MB, trips and stations as CSV and Shapefile." href="http://files.hubwaydatachallenge.org/stations_trips.zip"> Download the Data </a><span class="help-text">10MB zipped CSV files and Shapefile, or {% if user.is_authenticated %}use{% else %}<a href="/register">register</a> to use{% endif %} our <a class="highgreen" href="{% if user.is_authenticated %}{% url data-api %}{% else %}/register{% endif %}" title="Data API">Data API</a>.</span></p>
    <p>The <a href="/trip-history-data/" title="Hubway trip history data">Hubway trip history data</a> include every trip ever taken – with date, time, origin and destination stations, plus the bike number and more.</p>
    <h3>Updates</h3>
    <ul>
      <li>An aggregated rebalancing data sample, Apr - Sep 2012: <a href="http://files.hubwaydatachallenge.org/rebalancing.csv">download CSV</a></li>
      <li>Related data (Census, neighborhoods, bike facilities, elevation, etc.) packaged up as <a href="http://files.hubwaydatachallenge.org/hubway_hack_day_treat.zip">Hack Day Treat (100MB zip)</a></li>
      <li>Stationstatus data, with information about available bikes and empty docks per station and minute back to August 2011 (30 million records), is now available: <a href="http://files.hubwaydatachallenge.org/stationstatus.tar.gz">download 190MB CSV (tar.gz)</a></li>
    </ul>
    <h3>What are we looking for?</h3>
    <p>Visualizations, animations, maps, info graphics that tell us something new or illustrate the awesomeness of more than half a million bike trips in one year. Winning entries will be both smart and beautiful. Submissions are welcome in any form - anything, from website to sculpture can enter the challenge.</p>
    <h3>Who can enter?</h3>
    <p>Anyone! Pro and amateur; individuals, teams or studios; students, media, artists, corporations or those who only moonlight as data geeks.</p>
    <h3>What are the prizes?</h3>
    <ul>
        <li>Hubway memberships</li>
        <li>Hubway T-shirts</li>
        <li>Limited edition Hubway System Maps - one of only 61 installed in the original Hubway stations.</li>
        <li>Shepard Fairey ICA tote bags</li>
        <li>ICA admission tickets</li>
    </ul>

    <p>All entries will be exhibited on this website and top entries will be featured on the Hubway website. The winning entry will also be featured in the Greater Boston region's most widely-distributed data visualization publication, the MAPC annual calendar. Stay tuned for details!</p>
    <h3>Share with your friends!</h3>
    <ul class="socialmedia">
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hubwaydatachallenge.org" data-text="Ever wanted to explore and visualize half a million bike trips? Well, there you go!" data-via="MAPCMetroBoston" data-hashtags="hubwayviz">Tweet</a>
        <script type="text/javascript" charset="utf-8">
            window.twttr = (function (d,s,id) {
              var t, js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
              js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
              return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
            }(document, "script", "twitter-wjs"));
            function extractParamFromUri(uri, paramName) {
              if (!uri) {
                return;
              }
              var regex = new RegExp('[\\?&#]' + paramName + '=([^&#]*)');
              var params = regex.exec(uri);
              if (params != null) {
                return unescape(params[1]);
              }
              return;
            }
            function trackTwitter(intent_event) {
                if (intent_event) {
                  var opt_pagePath;
                  if (intent_event.target && intent_event.target.nodeName == 'IFRAME') {
                        opt_target = extractParamFromUri(intent_event.target.src, 'url');
                  }
                  _gaq.push(['_trackSocial', 'twitter', 'tweet', opt_pagePath]);
                }
            }
            //Wrap event bindings - Wait for async js to load
            twttr.ready(function (twttr) {
                //event bindings
                twttr.events.bind('tweet', trackTwitter);
            });
            // Twitter API 'Tweet' button tracking
        </script></li>
        <li><div class="fb-like" data-href="http://hubwaydatachallenge.org/" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div></li>
        <li><div class="g-plusone" data-size="medium"></div>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script></li>
    </ul>
</aside>
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if not awards %}
<script src="{{ STATIC_URL }}raty/js/jquery.raty.min.js"></script>
<script>
    $(function() {
        {% if submission_open %}
        $('#userrating').raty({
            readOnly: {% if user.is_authenticated %}false{% else %}true{% endif %},
            score: {{ lastentry.userrating.get_rating }},
            path: "{{ STATIC_URL }}raty/img",
            starOff: "star-off-big.png",
            starOn: "star-on-big.png",
            starHalf: "star-half-big.png",
            size: 24,
            hints: ["fair", "good", "very nice", "beautiful", "gorgeous"],
            click: function(score, evt) {
                $.post("/submission/rate/" + {{ lastentry.id }},
                    {
                        score: score, 
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                )
                .success(
                    function() {
                        $(".userrating-msg").text("Thank You! (Click again to change)");
                    }
                )
                .error(
                    function() { 
                        $.fn.raty.cancel('#userrating');
                        $(".userrating-msg").text("Something went wrong...");
                    }
                );
              }
        });
        {% else %}
        $(".leaderboard li").each(function(index) {
            $(".stars", this).raty({
                readOnly: true,
                score: $(this).data("rating"),
                path: "{{ STATIC_URL }}raty/img"
            });
            $(this).on('click', function() {
                window.location = "{% url leaderboard %}"
            })
        });
        {% endif %}
    });
</script>
{% endif %}
{% endblock %}