{% extends "base.html" %}

{% block content %}

<article>
    <header>
        <ul>
            <li>Do Hubway cyclists only ride down hill?</li>
            <li>Are all Hubway rentals after 2am by people under 25?</li>
            <li>How do weekday and weekend patterns differ?</li>
            <li>And what makes for a good Hubway location?</li>
        </ul>
        <p>To celebrate the release of comprehensive user data, Hubway and MAPC are inviting you to <span class="highgreen">visualize half a million Hubway rides.</span></p>

    </header>
    <section>
        <h2>How to Submit</h2>
        <p>Submission will open here on Friday, October 12, 2012.</p>
    </section>
    <section>
        <h2>Deadline</h2>
        <p class="highgreen">MIDNIGHT (11:59 p.m.) on Halloween, <br>Wednesday, October 31, 2012.</p>
        <p>Winners will be announced on Wednesday, November 7, 2012.</p>
    </section>
    <section>
        <h2>The Judges</h2>
        <dl class="judges">
            <dt>Gabriel Florit, Boston Globe</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_florit.png">Gabriel Florit makes data visualizations for the Boston Globe. Previously, he wrote software to keep track of trains, fell 200 feet off a mountain, and got lost in Alaska for two years.</dd>
            <dt>Darcey Moore, Institute of Contemporary Art</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_moore.png">Darcey Moore, Registrar at the ICA and Contemporary Exhibitions, specializes in organizing aesthetic data, creating and re-creating feats of contemporary installation, and riding her bike to bakeries and ice cream shops.</dd>
            <dt>Irene Ros, Bocoup</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_ros.png">Irene Ros is an open source javascript developer with a focus on creating engaging, informative and interactive data-driven interfaces and visualizations. Her love for data and its visual forms started at The Visual Communication Lab @ IBM Research and now continues at Bocoup.</dd>
            <dt>Holly St. Clair, Metropolitan Area Planning Council</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_stclair.png">Holly St. Clair is the Director of Data Services at MAPC, where she works to organize, visualize, utilize and democratize data. She is a mother of two and founder of the “Fresh in the Village”, an art and locavore food project.</dd>
            <dt>Scott Mullen, Hubway</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_mullen.png">Scott Mullen is General Manager of Hubway. He previously ran Zipcar’s national university program, and was a member of the LivableStreets Alliance board of directors.</dd>
            <dt>Sarah Williams, Massachusetts Institute of Technology</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_williams.png">Sarah Williams, an Assistant Professor of Urban Planning and the Director of the Civic Data Design Project at MIT, employs data visualization and mapping techniques to expose and communicate urban patterns and policy issues to broader audiences. Her work is also part of the permanent collection in the Museum of Modern Art (MoMA), New York.</dd>
            <dt>You</dt>
            <dd><img class="headshot" src="{{ STATIC_URL }}img/headshot_public.png">You help us pick the winners!</dd>
        </dl>
    </section>
</article>

<aside>
    <h3>What are the data?</h3>
    <p><a class="btn dl" title="13MB, trips and stations as CSV and Shapefile." href="http://files.hubwaydatachallenge.org/stations_trips.zip"> Download the Data </a><span class="help-text">10MB zipped CSV files and Shapefile, or {% if user.is_authenticated %}use{% else %}<a href="/register">register</a> for using{% endif %} our <a class="highgreen" href="{% if user.is_authenticated %}{% url data-api %}{% else %}/register{% endif %}" title="Data API">Data API</a>.</span></p>
    <p>The <a href="/trip-history-data/" title="Hubway trip history data">Hubway trip history data</a> include every trip ever taken – with date, time, origin and destination stations, plus the bike number and more.</p>
    <h3>What are we looking for?</h3>
    <p>Visualizations, animations, maps, info graphics that tell us something new or illustrate the awesomeness of more than half a million bike trips in one year. Winning entries will be both smart and beautiful. Submissions are welcome in any form- from website to sculpture.</p>
    <h3>Who can enter?</h3>
    <p>Anyone! Pro and amateur; individuals, teams or studios; students, media, artists, corporations or those who only moonlight as data geeks.</p>
    <h3>Join us for a hack day!</h3>
    <p>Want to get out of the house and work with some friends? Come to the <a class="highgreen" href="http://hubwaydatachallenge.eventbrite.com">Hack Day at The Bocoup Loft in Downtown Boston on Saturday, October 27</a>.</p>

    <h3>What are the prizes?</h3>
    <p>Up to three team members of the winning team (or teams!) will ride off in style with:</p>
    <ul>
        <li>A one-year Hubway membership</li>
        <li>Hubway T-shirt</li>
        <li>Bern helmet</li>
        <li>A limited edition Hubway System Map—one of only 61 installed in the original Hubway stations.</li>
    </ul>

    <p>All entries will be exhibited on this website and top entries will be featured on the Hubway website. The winning entry will also be featured in the Greater Boston region's most widely-distributed data visualization publication, the MAPC annual calendar. Stay tuned for details!</p>
</aside>
{% endblock %}