Django==1.5
Markdown==2.2.1
PIL==1.1.7
django-debug-toolbar==0.9.4
django-grappelli==2.4.4
django-ratings==0.3.7
django-simple-math-captcha==1.0.2
django-social-auth==0.7.20
-e git+https://github.com/toastdriven/django-tastypie.git@2b13147715347d8239bbe73943be0eae65c8a43b#egg=django_tastypie-dev
httplib2==0.7.7
lxml==3.1.0
mimeparse==0.1.3
oauth2==1.5.211
psycopg2==2.4.6
python-dateutil==2.1
python-openid==2.2.5
pytz==2012j
wsgiref==0.1.2