{% extends "base.html" %}

{% block title %}Thank You! | {{ block.super }}{% endblock %}

{% block content %}
    <article>
        <section>
            <h2>Thank You!</h2>
            <p>Thank you for participating, we're looking forward to see your work.</p> 
            <p>Your visualization will appear shortly, within the next 12 hours, at:</p>
            <p><a class="highgreen" href="{{ new_entry.get_absolute_url }}"><b>http://hubwaydatachallenge.org{{ new_entry.get_absolute_url }}</b></a></p> 
        </section>
    </article>
{% endblock %}